In [1]:
username = "admin"
password = "1234"

input_username = "admin"      # You can change these values for testing
input_password = "1234"

if input_username == username and input_password == password:
    print("Login Successful")
else:
    print("Invalid Credentials")

Login Successful

In [2]:
marks = [45, 78, 90, 33, 60]

pass_students_count = 0
fail_students_count = 0

for mark in marks:
    if mark >= 50:
        pass_students_count += 1
    else:
        fail_students_count += 1

print("Total Passed students:", pass_students_count)
print("Total Failed students:", fail_students_count)

Total Passed students: 3
Total Failed students: 2

In [3]:
names = [" Alice ", "bob", " CHARLIE "]

cleaned_names = []

for name in names:
    cleaned_name = name.strip().lower()
    cleaned_names.append(cleaned_name)

print("Cleaned Names:", cleaned_names)

Cleaned Names: ['alice', 'bob', 'charlie']

In [4]:
messages = ["Hi", "Welcome to the platform", "OK"]

for message in messages:
    length = len(message)
    print(f"Message: '{message}' | Length: {length}")

    if length > 10:
        print("The Message is longer than 10 characters")

Message: 'Hi' | Length: 2
Message: 'Welcome to the platform' | Length: 23
The Message is longer than 10 characters
Message: 'OK' | Length: 2

In [5]:
logs = ["INFO", "ERROR", "WARNING", "ERROR"]

error_counts = logs.count("ERROR")

print("Error counts :", error_counts)

Error counts : 2